/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

.code-block {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
}
